<h2>Your Paintings</h2>
  <% @paintings.each do |painting| %>
    <br>
    <% if painting.user_id == @user.id %>
      <h3><li><a href='/paintings/<%= painting.id %>'><%= painting.name %></a></li></h3>
    <% end %>
  <% end %>
<br>
<br>
Add a New Painting?:
<a href="/paintings/new"><button>New Painting</button></a>
<br>
<br>
<a href="/art"><button>Return To Collections</button></a>
<a href="/logout"><button>Sign Out</button></a>
