<h2>Your Paintings</h2>
  <% @paintings.each do |painting| %>
    <%= painting.name %>
  <% end %>


<br>
<a href="/"><button>Return to Home</button></a>
<a href="/logout"><button>Sign Out</button></a>
