<h2>Add a Painting to Your Collection</h2>
  <form method='POST' action='/paintings'>
    <label for='name'>Name:</label>
      <input name='name' type='text' id='name'>
    <br>
    <label for='artist'>Artist:</label>
      <input name='artist' type='text' id='artist'>
    <br>
    <label for='date'>Date:</label>
      <input name='date' type='text' id='date'>
    <br>
    <label for='description'>Description:</label>
      <input name='description' type='text' id='description'>
    <br>
    <label for='style'>Style:</label>
      <input name='style' type='text' id='style'>
    <br>
    <br>
    <input type='submit' id='submit' value='Add Painting'>
  </form>
<br>
<a href="/paintings"><button>Return to Paintings</button></a>
<a href="/art"><button>Return To Collections</button></a>
<a href="/logout"><button>Sign Out</button></a>
