<h2>Hello, <%= @user.username %>! Here are your collections</h2>
  <p><li><a href='/paintings'>Paintings</a></li></p>
  <p><li><a href='/sculptures'>Sculptures</a></li></p>
<br>
<a href="/"><button>Return to Home</button></a>
<a href="/logout"><button>Sign Out</button></a>
