<h2>Welcome to BeHold!</h2>

<h3>Fill In Below to Create Account</h3>
<br>
  <form method='POST' action='/signup'>
    <label for='username'>Username:</label>
      <input name='username' type='text' id='username'>
    <br>
    <br>
    <label for='password'>Password:</label>
      <input name='password' type='password' id='password'>
    <br>
    <br>
    <input type='submit' id='submit' value='Create Account'>
  </form>
<br>
<a href="/"><button>Return to Home</button></a>
