<h2>Art Collection Organizer</h2>

<h3>Please Sign Up Below</h3>
<br>
<form>
  <label for='username'>Username:</label>
    <input name='username' type='text' id='username'>
  <br>
  <br>
  <label for='password'>Password:</label>
    <input name='password' type='text' id='password'>
  <br>
  <br>
  <input type='button' id='submit' value='Submit'>
</form>
