<h1>Welcome to BeHold!</h1>
  <h2>An Easy Way to Catalog All of the Works of Art in Your Collection</h2>
    <h3>What would you like to do?</h3>
    <br>
    <p>To Go to Your Account:</p>
      <a href="/login"><button>Sign In</button></a>
    <br>
    <br>
    <p>To Create An Account:</p>
      <a href="/signup"><button>Sign Up</button></a>
